@(document: String)

@import helper._

@main("PDF Viewer") {

    <h1>@document</h1>

        <table style="width: 100%; height: 100%">
            <tr>
                <td>

                </td>
                <td>
                    <button id="compute" onclick="searchCSV();">Search for statistic CSV</button>
                    <br>
                </td>
            </tr>
            <tr>
                <td style="width : 25%; vertical-align: top; border: 1px solid black;">
                    <div id="console">
                    </div>
                </td>

                <td style="border: 1px solid black;">
                    <center>
                        <div id="pdfContainer">
                        </div>
                    </center>
                </td>
            </tr>
        </table>


    <script language="JavaScript">

        // Convert CSV to JSON
        var results;
        Papa.parse ("http://localhost:9000/assets/csv/statTest.csv", {
            download: true,
            //worker: true,
            complete: function(res) {
                console.log("Remote file parsed! ", res.data.length);
                results = res.data;
            }
        });

        function searchCSV(){
            var cons = document.getElementById('console');
            cons.innerHTML = 'Start searching for statistic CSV words...<br><br>';

            var pdfContainer = document.getElementById("pdfContainer");

            for(var i=0;i<numPages;i++) {
                cons.innerHTML = cons.innerHTML + 'Analyzing page: ' + i + '<br>';
                // get all div nodes in the actual page
                var pageStructure = $("#textLayerPage_"+i)[0 ].children;
                //for each child search for matches
                for(var j=0; j<pageStructure.length; j++){
                    for(var k=0; k<results.length; k++){
                        var str = results[k];

                        if(typeof str === 'undefined'){
                            console.log("undefined STR");
                        } else {
                            var text =  pageStructure[j ].innerText;
                            var regex = new RegExp("\\b"+results[k]+"\\b", "gi");

                            var replace = '<span style="background-color: #FFFF00; color: black">' + results[k] + '</span>';
                            pageStructure[j ].innerHTML = pageStructure[j ].innerHTML.replace(regex, replace);
                        }
                    }
                }
            }
            cons.innerHTML = cons.innerHTML + '<br><br>End of document';
        }
    </script>

}
