@(turker: Turker)

@main("My teams")(turker) {

  <br><br><br>
  <div class="container">
  <h2>Teams</h2>
      <table class="table">
          <thead>
              <th>Team Name</th>
              <th>#Members</th>
              <th>Answers Given</th>
              <th>Total earned $</th>
          </thead>
          <tbody>
              <div>You are not yet a member of any team with more than 1 turkers.</div>
          </tbody>
      </table>
      <button class="btn btn-success">Create new Team</button>
  </div>

}