@(turker: Turker)

@main("Available Questions")(turker) {

    <table ng-app="myApp" style="height: 100%; width: 100%;">
        <script type="text/javascript">
            var app = angular.module('myApp', [])
            .controller('jobController', function JobController($scope, $http) {
            $scope.jobs =[ ] ;
            $scope.input = "" ;

            $scope.doGetJobs = function ( ) {
            var httpRequest = $http ( {
            method : 'GET',
            url : "/jobs"
            } ).success ( function ( data, status ) {
            $scope.jobs = data ;
            } ).error ( function ( arg ) {
            alert ( "error " ) ;
            } ) ;
            } ;

            $scope.doSearch = function ( ) {
            var httpRequest = $http ( {
            method : 'GET',
            url : "/search/" + $scope.input
            } ).success ( function ( data, status ) {
            $scope.jobs = data ;
            } ).error ( function ( arg ) {
            alert ( "error " ) ;
            } ) ;
            } ;

            $scope.showViewer = function(questionId) {
            $location.path("/viewer/"+questionId);
            };

            // run the search when the page loads.
            $scope.doGetJobs() ;
            $scope.doSearch() ;

            $scope.setLocation = function(url) {
            window.location.href = url;
            };

            });
        </script>

        <tr>
            <td>
                <div class="container" style="margin-top: 60px;" ng-controller="jobController">
                    <div>
                        <h2>Available questions:</h2>
                        Filter questions:
                        <input ng-model="input" ng-change="doSearch(input)" autofocus>
                    </div>
                    <h3 ng-if="jobs.length == 0" style="color: red;">There are no available questions right now!</h3>
                    <table class="table table-hover" ng-if="jobs.length >= 1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Paper Title</th>
                                <th>Question Type</th>
                                <th>Reward per answer ($)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="job in jobs">
                                <th>
                                    {{ job.questionId }}
                                </th>
                                <td>
                                    {{ job.pdfTitle }}
                                </td>
                                <td>
                                    {{ job.questionType }}
                                </td>
                                <td>
                                    {{ job.rewardAnswer }}
                                </td>
                                <td>
                                    <button class="btn btn-success" ng-click="setLocation('/viewer/'+job.questionId)" type="submit">Solve</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br><br>
                    <form action="/viewer/1">
                       <button class="btn btn-primary">Get Random Question</button>
                    </form>
                </div>
                <br>
            </td>
        </tr>
    </table>
    }