@(turker: Turker, flash: Flash)

@main("Available Questions")(turker) {

    <script src="@routes.Assets.at("/js/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("/js/controllers.js")" type="text/javascript"></script>

    <table ng-app="myApp" style="height: 100%; width: 100%; margin-top: 60px;">

        <tr>
            <td>
                <div class="container" ng-controller="jobController">
                    @if(flash.get("success")) {
                        <div class="alert alert-success" role="alert">
                            <strong>Well Done!</strong>
                            @flash.get("success")
                        </div>
                    }
                    @if(flash.get("error")) {
                        <div class="alert alert-danger" role="alert">
                            <strong>Error:</strong>
                            @flash.get("error")
                        </div>
                    }
                    <div>
                        <h2>Welcome @turker.username</h2>
                        <br>
                        <p>
                            Hello!<br>
                            You can now choose a question from the list. Feel free to choose different papers and different question types
                        </p>
                        <h2>Available questions:</h2>
                        Filter questions:
                        <input ng-model="input" ng-change="doSearch(input)" autofocus>
                    </div>
                    <h3 ng-if="jobs.length == 0" style="color: red;">There are no available questions right now!</h3>
                    <table class="table table-hover" ng-if="jobs.length >= 1">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Paper Title</th>
                                <th>Question Type</th>
                                <th>Reward per answer ($)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="job in jobs">
                                <th>
                                    {{ job.questionId }}
                                </th>
                                <td>
                                    {{ job.pdfTitle }}
                                </td>
                                <td>
                                    {{ job.questionType }}
                                </td>
                                <td>
                                    {{ job.rewardAnswer }}
                                </td>
                                <td ng-controller="jobController">
                                    <button class="btn btn-success" ng-click="showViewer(job.questionId)" type="submit">Solve</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </td>
        </tr>
    </table>
    }